<title>Bobber</title>
<h1>New enrollment</h1>

<% form_for(@enrollment) do |f| %>
  <%= f.error_messages %>

  <table>
  <tr><td>
    <%= f.label :first_name %></td><td>
    <%= f.text_field :first_name %>
  </td></tr>
  <tr><td>
    <%= f.label :last_name %></td><td>
    <%= f.text_field :last_name %>
  </td></tr>
  <tr><td>
    <%= f.label :birthdate %></td><td>
    <%= f.date_select :birthdate, 
		:start_year => Time.now.year - 100, :end_year => Time.now.year - 12,
		:default => Time.parse("Aug 9, 1974") %>
  </td></tr>
  <tr><td>
    <%= f.label :gender %></td><td>
    <%= f.select :gender, [ 'Male', 'Female' ] %>
  </td></tr>
  <tr><td>
    <%= f.label :zip %></td><td>
    <%= f.text_field :zip %>
  </td></tr>
  <tr><td>
    <%= f.label :state %></td><td>
    <%= f.text_field :state %>
  </td></tr>
  <tr><td>
    <%= f.label :city %></td><td>
    <%= f.text_field :city %>
  </td></tr>
  <tr><td>
    <%= f.label :address %></td><td>
    <%= f.text_field :address %>
  </td></tr>
  <tr><td>
    <%= f.label :phone %></td><td>
    <%= f.text_field :phone %>
  </td></tr>
  <tr><td>
    <%= f.label :email %></td><td>
    <%= f.text_field :email %>
  </td></tr>
  <tr><td>
    <%= f.label :social_security %></td><td>
    <%= f.text_field :social_security %>
  </td></tr>
  <tr><td>
    <%= f.label :user_name %></td><td>
    <%= f.text_field :user_name %>
  </td></tr>
  <tr><td>
    <%= f.label :password %></td><td>
    <%= f.text_field :password %>
  </td></tr>
  <tr><td>
    <%= f.label :card_option %></td><td>
    <%= f.select :card_option, [ ["Butterfly", 14], ["Glow", 26], ["Collectors", 41] ] %>
  </td></tr>
  <tr><td>
    <%= f.submit 'Create' %>
  </td></tr>
  </table>
<% end %>

<%= link_to 'Back', enrollments_path %>